.b-calc {
    width: 400px;
    margin: 10px auto;
    padding: 20px 10px;
    background: #8b9394;
    border-radius: 8px;
}

.b-calc__input {
    width: 100%;
    font: 40px 'Geo', sans-serif;
    text-align: right;
    box-sizing: border-box;
}

.b-calc__btn-wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 10px auto;
    padding: 10px 5px;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    box-sizing: border-box;
}

.b-calc__btn {
    flex: 0 1 auto;
    width: 36px;
    text-align: center;
    display: inline-block;
    background: rgba(115, 116, 255, 0.57);
    padding: 3px 0;
    margin: 2px;
    box-sizing: border-box;
    border-radius: 6px;
}

.b-calc__btn:hover {
    background: rgba(115, 116, 255, 0.8);
    cursor: pointer;
}